:root{

    --step--3: clamp(0.5277rem, 0.5933rem + -0.0728vw, 0.5787rem);
    --step--2: clamp(0.6944rem, 0.6919rem + 0.0129vw, 0.7035rem);
    --step--1: clamp(0.8333rem, 0.8035rem + 0.1491vw, 0.9377rem);
    --step-0: clamp(1rem, 0.9643rem + 0.1786vw, 1.125rem);
    --step-1: clamp(1.2rem, 1.1144rem + 0.428vw, 1.4996rem);
    --step-2: clamp(1.44rem, 1.2803rem + 0.7986vw, 1.999rem);
    --step-3: clamp(1.728rem, 1.4604rem + 1.3381vw, 2.6647rem);
    --step-4: clamp(2.0736rem, 1.6512rem + 2.112vw, 3.552rem);
    --step-5: clamp(2.4883rem, 1.8465rem + 3.2093vw, 4.7348rem);



    --white:#FFFFFF;
    --golden:#DC901A;
    --pure-black:#000000;
    --soft-font:#F5F4F0;

}


body{
    background-color: var(--blue-back);
    padding-bottom: 2.5rem;
    
    padding-bottom: 0 !important;

}

h1{
    font-size: var(--step-3);
}

h2{
    font-size: var(--step-2);
}

.predicas-section{
    margin-bottom: 2.5rem;
}

.predicas-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
 
   
}

.predica-card{
    display: flex;
    gap: 2rem;
    padding-bottom: 1.5rem;
    border-bottom: 1px var(--golden) solid;

}

.predica{
    max-width: 40%;
    
}

.predica h2{
    color: var(--golden);
}

.predica .special-link:hover{
    text-decoration: underline;
}





.predica-thumbnail{
    border-radius: 8px;
    min-width: 10vw;
    max-height: 23vh ;
}


.predica-title{
    max-width: 100%;
    text-align: left;
    font-size: var(--step-1);
}

.predica-text{
    max-width: 90%;
    text-align: left;
    font-size: var(--step-0);
}








